<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library Management System</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body{
            background: url('/images/Main-Background-1.jpg') no-repeat center center fixed;
            background-size:cover;
            background-repeat:no-repeat;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Library Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- Dropdown for Masters -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="mastersDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Masters
                        </a>
                        <div class="dropdown-menu" aria-labelledby="mastersDropdown">
                            <a class="dropdown-item" asp-controller="Category" asp-action="Index">Categories</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="Index">Books</a>
                            <a class="dropdown-item" asp-controller="Member" asp-action="Index">Members</a>
                        </div>
                    </li>

                    <!-- Separate menu item for Loans -->
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Loan" asp-action="Index">Loans</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>

@*     <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <p class="text-muted">&copy; 2025 Library Management System</p>
        </div>
    </footer>
 *@
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
