@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="container mt-5">
    <div class="card shadow-sm" style="max-width: 600px; margin: 0 auto;">
        <div class="card-body">
            <h2 class="text-center mb-4">Categories</h2>
            <a href="/Category/Create" class="btn btn-primary rounded mb-3">Add New Category</a>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th hidden>ID</th>
                            <th>Name</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td hidden>@category.Id</td>
                                <td style="width:75%;">@category.Name</td>
                                <td class="text-center">
                                    <a href="/Category/Edit/@category.Id" class="btn btn-warning btn-sm rounded">Edit</a>
                                    &nbsp;&nbsp;<a href="/Category/Delete/@category.Id" class="btn btn-danger btn-sm rounded">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
