@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100 text-white text-center">
    <h1 class="display-2">Welcome to the Library Management System</h1>
    <p><h2>Manage books, categories, members, and loans efficiently through the menu above.</h2></p>
</div>
