html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Shams Styles in common*/

.content-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 60%;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.form-control {
    padding: 10px;
    width: 30%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    font-size: 16px;
    padding: 8px 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.table {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-danger {
    font-size: 12px;
}

.actions {
    display: flex;
    gap: 10px; /* Provides enough space between the buttons */
    justify-content: flex-start; /* Aligns the buttons to the left */
}

/*Shams style ends*/